

<form method="post">
      <label for ="TITLE">Enter Product name :</label>
      <input  name="TITLE" >
      <br/><br/>
      <label for ="PRICE">Enter Product Price :</label>
      <input  name="PRICE" >
      <br/><br/>
      <button type="submit"> Insert</button></a>

</form>